<h2>Improve this documentation</h2>

<p>Have an idea on how to make this documentation even better? Use our <a
href="https://projects.torsion.org/witten/borgmatic/issues">issue tracker</a> to send your
feedback!</p>

<script>
    document.getElementById('_page').value = window.location.href;
    window.sk=window.sk||function(){(sk.q=sk.q||[]).push(arguments)};
  
    sk('form', 'init', {
        id: '1d536680ab96',
        element: '#suggestion-form'
    });
</script>

<script defer src="https://js.statickit.com/statickit.js"></script>
